#container {
  background-color: rgb(31, 37, 37);
  width: 100%;
  height: 100%;
}
#head1 {
  color: blue;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
}
#heading1 {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}
#head2 {
  color: brown;
}
.header {
  width: 100%;
  height: auto;
  background-color: rgb(231, 100, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  height: 55px;
  padding: 5px;
}
.searchbar {
  padding-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.input-txt {
  border-radius: 10px;
  width: 25%;

  height: 21px;
  cursor: pointer;
}
.user-icon {
  height: 35px;
}
.userIcon {
  display: flex;
  flex-direction: row;
  justify-items: auto;
  justify-content: space-around;
  padding: 10px;
  padding-top: 10px;
  padding-right: 40px;
  cursor: pointer;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}
.nav-items > ul > li {
  padding: 10px;
  color: azure;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font: bold;
}
.cardImg {
  width: 150px;
  padding: 5px;
}
.card {
  border: 1px solid;
  width: 250px;
  border-radius: 10px;
  height: 300px;
  align-content: center;
  background-color: rgb(254, 254, 254);
  color: rgb(72, 71, 71);
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 2px rgb(128, 127, 125);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* .card>h2.h3.h4{
 padding-left: 12px;
  align-content: center;
} */
.bodyCard {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 0.2rem;
  height: 100%;
}
.rating {
  background-color: rgb(5, 69, 5);
  color: aliceblue;
  width: 50%;
  padding: 4px;
  border-radius: 124px;
  text-align: center;
}
.search-btn {
  background-color: green;
  border-color: aliceblue;
  color: aliceblue;
  padding-left: 4px;
  border-radius: 15px;
}
.footer {
  background-color: rgb(17, 23, 23);
  height: 10px;
  padding: 10px;
  align-content: center;
  text-align: center;
  color: aliceblue;
}
.fitCard {
  block-size: fit-content;
  width: fit-content;
  object-fit: cover;
}
.shimmer {
  color: aliceblue;
}
.shimmer-d {
  width: 250px;
  height: 300px;
  background-color: #5b5f5f;
  text-align: center;
}
.No-resturants {
  color: aliceblue;
  text-align: center;
  background-color: #1f2525;
  width: 100%;
  height: 100vh;
}
.log-btn {
  padding: 10px;

  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: green;
  border-color: aliceblue;
  color: aliceblue;
  height: 40px;

  text-align: center;
}
.logged-user {
  color: aliceblue;
}
.Rdetails {
  color: aliceblue;
  display: flex;
}
.Login_Main {
  color: aliceblue;
  min-height: 40vh;
  display: flex;
flex-direction: row;
justify-content: center;
  width: 100%;
  padding: 10px;
}

.log_img {
  width: 800px;
  height: 635px;
  margin-top: 15px;
  text-align: center;
  border-radius: 110px;
  border-color: aliceblue;
}
.form-main{
  padding: 4px;
 text-align: center;
  

}
.login_input{
  background-color: #e76400;
  margin-top: 160px;
  height: 50%;
  padding: 10px;
  margin-left: 50px;
  border-radius: 40px;
  margin-top: 20px;
  width: 450px;
  text-align: center;
  border: none;
}
.field{
  width: 70%;
    height: 20px;
    padding: 1px;
    margin-top: 3px;
    border-radius: 5px;
    border: none;
}
.login_btn1{
  margin-top: 10px;
  border-radius: 15px;
  background-color: green;
  color: antiquewhite;
  border: none;
  cursor: pointer;
}
.link {
  color: #FFF;
  text-decoration: none;
}
.link:hover {
   color: #00F
}
.head12{
  color: #FFF;
}
.profile{
  color: white;
}