
#container {
  background-color: rgb(31, 37, 37);
  width: 100%;
  height: 100%;
 
  

}
#head1 {
  color: blue;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
}
#heading1{
  
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}
#head2 {
  color: brown;
}
.header{
  width: 100%;
  height: auto;
  background-color: rgb(231, 100, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
 
 
  cursor: pointer;
  height: 55px;
  padding: 5px;

}
.searchbar{
  padding-top: 20px;
  padding: 5px;
display: flex;
justify-content: center;




}
.input-txt{
 
  border-radius: 10px;
 width: 25%;

 height: 21px;
 cursor: pointer;
}
.user-icon{
  height: 35px;
  
}
.userIcon{
  padding: 20px;
  padding-top: 10px;
  padding-right: 20px;
  cursor: pointer;
  
}
.nav-items>ul{
display: flex;
list-style-type: none;
cursor: pointer;
}
.nav-items>ul>li{
  padding: 10px;
  color: azure;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font: bold;
}
.cardImg{
  width: 150px;
  padding: 5px;
}
.card{
border: 1px solid;
width: 250px;
border-radius: 10px;
height: 300px;
align-content: center;
background-color: rgb(254, 254, 254);
color: rgb(72, 71, 71);
padding: 10px;
margin: 10px;
box-shadow: 10px 10px 2px rgb(128, 127, 125);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* .card>h2.h3.h4{
 padding-left: 12px;
  align-content: center;
} */
.bodyCard{

  display: grid;
  place-items:  center;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
grid-gap: .2rem;

}
.rating{
  background-color: rgb(5, 69, 5);
  color: aliceblue;
  width: 50%;
  padding: 4px;
  border-radius: 124px;
  text-align: center;
}
.search-btn{
  background-color: green;
  border-color: aliceblue;
  color: aliceblue;
  padding-left: 4px;
  border-radius: 15px;
}